<ion-list>
    <ion-item-sliding *ngFor="let item of deseosService.listas | filtro:pendientes">
        <ion-item color="dark" detail (click)="listaSeleccionada(item.id)">
            <ion-label>{{item.titulo}}</ion-label>
            <ng-container *ngIf="item.items.length != 1; else elseTemplate">
                <ion-note color="primary" slot="end">{{item.items.length}} ítems</ion-note>
            </ng-container>
            <ng-template #elseTemplate>
                <ion-note color="primary" slot="end">{{item.items.length}} ítem</ion-note>
            </ng-template>
        </ion-item>

        <ion-item-options side="start">
            <ion-item-option color="primary" expandable (click)="modificarNombreLista(item.id, item.titulo)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option color="danger" expandable (click)="borrarLista(item.id)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>